<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the best app ever</title>
</head>
<body>

<h3> Option1: View all the videos and delete them</h3>
<p>Next page displays all teh videos which are already uploaded to the system and provide abilities to: see which videos are belonging to queries and database datasets respectively,
link to this videos with ability to download them and mark the videos which you want to delete. Also, there are two buttons:
one on the top to return to home page and at the very bottom to delete marked videos. After deleting the videos the content of the page will be updated.</p>
<form action="{% url 'show_all_videos' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Edit the videos">
</form>
<br><br>

<h3> Option 2: Upload new videos</h3>
<p>This page consists of two main parts: one of them is radio button which marks for which category the uploading videos are belonging to - there two options:
queries and database, second part is uploading button which calls your file manager and asks you to choose one or multiple videos to upload.
After finishing the all the choosings press the bottom button to run the uploading program. Then, after pressing this button you will be redirected to home page.</p>
<form action="{% url 'upload_file' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Upload new files">
</form>
<br><br>

<h3> Option 3: Perform computations and download the result</h3>
<p>This option runs the main deep learning model of the system, which takes all the uploaded videos
    and perform comparison of the queries videos to database ones. After it, the results of comparison will be written in JSON file.
    This file has the next structure: first dictionary is the name of the each query video to its comparison dictionary.
    Then, in teh second dictionaty we have correspondence between the name of the database file and its similarity to the given query video.
Lastly, the system will redirect the user to the download page where the user will be given ability to download the resulting JSON</p>
<form action="{% url 'show_results' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Do computations">
</form>
<br><br>
{{ param }}
</body>
</html>